<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">

  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label>Password
    <input type="text" name="user[password]">
  </label>

  <input type="submit" value="Submit!">
  
</form>